@charset "utf-8";

body{
    color: rgba(0, 0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

header{
    position: fixed;
    width: 100%;
    grid-area: header;
    background-color:rgba(0, 0, 0, 0.90);
}

#river-img{
    grid-area: river-img;
    /* background-color: magenta; */
}

section{
    grid-area: section;
    /* background-color: seagreen; */
}

aside{
    grid-area: aside;
    /* background-color: aliceblue; */
}

footer{
    grid-area: footer;
    /* background-color: firebrick; */
}

#instructions{
    grid-area: instruction;
}



@media only screen and (max-width: 619px){
    #home-grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, minmax(100px, auto));
        grid-gap: 10px;
        grid-template-areas:
        "river-img river-img river-img"
        "river-img river-img river-img"
        "river-img river-img river-img"
        "section section section"
        "section section section"
        "section section section"
        "section section section"
        "aside aside aside"
        "aside aside aside"
        "aside aside aside"
        "aside aside aside"
        "footer footer footer"
    }

    #content-grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, minmax(100px, auto));
        grid-gap: 10px;
        grid-template-areas:
        "river-img river-img river-img"
        "river-img river-img river-img"
        "river-img river-img river-img"
        "section section section"
        "section section section"
        "section section section"
        "section section section"
        "aside aside aside"
        "aside aside aside"
        "aside aside aside"
        "aside aside aside"
        "footer footer footer"
    }

    .card-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, minmax(100px, auto));
        grid-template-areas: 
        "instruction";
        color: black;
        text-align: center;
        margin: 10px;
        grid-gap: 10px;
    }

    iframe{
        width: 360px;
        height: 240px;
    }
}



/* smaller than desktop */
@media only screen and (min-width: 620px){
    #home-grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, minmax(100px, auto));
        grid-gap: 10px;
        grid-template-areas:
        "river-img river-img river-img"
        "river-img river-img river-img"
        "river-img river-img river-img"
        "section section section"
        "section section section"
        "section section section"
        "section section section"
        "aside aside aside"
        "aside aside aside"
        "aside aside aside"
        "aside aside aside"
        "footer footer footer"
    }

    #content-grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, minmax(100px, auto));
        grid-gap: 10px;
        grid-template-areas:
        "river-img river-img river-img"
        "river-img river-img river-img"
        "river-img river-img river-img"
        "section section section"
        "section section section"
        "section section section"
        "section section section"
        "aside aside aside"
        "aside aside aside"
        "aside aside aside"
        "aside aside aside"
        "footer footer footer"
    }

    .card-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, minmax(100px, auto));
        grid-template-areas: 
        "instruction instruction";
        color: black;
        text-align: center;
        margin: 10px;
        grid-gap: 10px;
    }
}




/* desktops */
@media only screen and (min-width: 1024px){
    #home-grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, minmax(100px, auto));
        grid-gap: 10px;
        grid-template-areas:
        "river-img river-img river-img"
        "river-img river-img river-img"
        "river-img river-img river-img"
        "river-img river-img river-img"
        "section section aside"
        "section section aside"
        "section section aside"
        "section section aside"
        "section section aside"
        "section section aside"
        "section section aside"
        "footer footer footer "
    }

    #content-grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, minmax(100px, auto));
        grid-gap: 10px;
        grid-template-areas:
        "river-img river-img river-img"
        "river-img river-img river-img"
        "river-img river-img river-img"
        "river-img river-img river-img"
        "aside section section"
        "aside section section"
        "aside section section"
        "aside section section"
        "aside section section"
        "aside section section"
        "aside section section"
        "footer footer footer "
    }

    .card-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, minmax(100px, auto));
        grid-template-areas: 
        "instruction instruction";
        color: black;
        text-align: center;
        margin: 10px;
        grid-gap: 10px;
    }
}
